<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/favicon-light.ico" type="image/x-icon" media="(prefers-color-scheme: light)">
  <link rel="icon" href="/favicon-dark.ico" type="image/x-icon" media="(prefers-color-scheme: dark)">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css" type="text/css">
  <script defer src="/script.js"></script>

  {{ if not .NoRedirect }}{{ with .Profile }}{{ if .LobbyID }}
  <meta http-equiv="Refresh" content="0; url='steam://joinlobby/{{ .GameID }}/{{ .LobbyID }}/{{ .SteamID }}'" />
  {{ end }}{{ end }}{{ end }}

  <meta property="og:site_name" content="SteamJoin">
  <meta name=twitter:card content="summary">
  {{ with .Profile }}
  {{/* Title */}}
  <title>Join {{ .Name }} on Steam</title>
  <meta property="og:title" content="Join {{ .Name }} on Steam" />
  <meta name=twitter:title content="Join {{ .Name }} on Steam">
  {{/* Image */}}
  <meta name="image" content="{{ .Avatar }}">
  <meta property="og:image" content="{{ .Avatar }}" />
  {{/* Description */}}
  {{ with .Game }}
  <meta name="description" content="Playing {{ . }}">
  <meta property="og:description" content="Playing {{ . }}" />
  <meta name=twitter:description content="Playing {{ . }}">
  {{ else }}
  <meta name="description" content="Not currently in-game">
  <meta property="og:description" content="Not currently in-game" />
  <meta name=twitter:description content="Not currently in-game">
  {{ end }}
  {{ else }}
  {{/* Title */}}
  <title>SteamJoin</title>
  <meta property="og:title" content="SteamJoin" />
  <meta name=twitter:title content="SteamJoin">
  {{/* Image */}}
  <meta name="image" content="">
  <meta property="og:image" content="" />
  {{/* Description */}}
  <meta name="description" content="Shortened + permanent Steam join game lobby links">
  <meta property="og:description" content="Shortened + permanent Steam join game lobby links" />
  <meta name=twitter:description content="Shortened + permanent Steam join game lobby links">
  {{ end }}
</head>

<body class="min-h-svh flex flex-col text-white bg-gradient-to-b from-slate-700 to-slate-900">
  <nav class="px-7 py-4 flex justify-between w-full border-b border-slate-300/10">
    <a href="/" class="px-1 text-3xl hover:underline">SteamJoin</a>
    <a href="https://discord.com/oauth2/authorize?client_id=1223433851200602214" title="Invite Discord Bot" target="_blank" rel="noopener noreferrer"
      class="flex items-center px-1 fill-white hover:fill-indigo-300"
    >
      <svg class="h-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 127.14 96.36"><path class="cls-1" d="M107.7,8.07A105.15,105.15,0,0,0,81.47,0a72.06,72.06,0,0,0-3.36,6.83A97.68,97.68,0,0,0,49,6.83,72.37,72.37,0,0,0,45.64,0,105.89,105.89,0,0,0,19.39,8.09C2.79,32.65-1.71,56.6.54,80.21h0A105.73,105.73,0,0,0,32.71,96.36,77.7,77.7,0,0,0,39.6,85.25a68.42,68.42,0,0,1-10.85-5.18c.91-.66,1.8-1.34,2.66-2a75.57,75.57,0,0,0,64.32,0c.87.71,1.76,1.39,2.66,2a68.68,68.68,0,0,1-10.87,5.19,77,77,0,0,0,6.89,11.1A105.25,105.25,0,0,0,126.6,80.22h0C129.24,52.84,122.09,29.11,107.7,8.07ZM42.45,65.69C36.18,65.69,31,60,31,53s5-12.74,11.43-12.74S54,46,53.89,53,48.84,65.69,42.45,65.69Zm42.24,0C78.41,65.69,73.25,60,73.25,53s5-12.74,11.44-12.74S96.23,46,96.12,53,91.08,65.69,84.69,65.69Z"/></svg>
      <span class="sr-only">Invite Discord Bot</span>
    </a>
  </nav>
  <main class="p-8 pb-32">
    {{ with .Profile }}
    <div class="flex flex-col xs:flex-row text-center xs:text-left items-center sm:items-start gap-2 p-6 max-w-3xl mx-auto rounded-2xl border border-slate-300/10 bg-slate-900/50 shadow-lg shadow-slate-900/40">
      <img src="{{ .Avatar }}" alt="{{ .Name }}'s Steam Avatar"
        class="w-48 h-48 xs:max-sm:w-24 xs:max-sm:h-24 rounded-lg border-4 {{ if .GameID }}border-lime-300/90{{ else if eq .Visibility 1 }}border-rose-400/90{{ else if eq .Status 0 }}border-slate-500/90{{ else }}border-sky-500/90{{ end }}">
      <div class="xs:pl-4 sm:py-1 flex flex-col sm:gap-1">
        <a href="{{ .Link }}" title="View {{ .Name }} on Steam" target="_blank" rel="noopener noreferrer" 
          class="text-2xl xs:text-3xl xs:pr-4 mb-1 sm:mb-2 hover:underline wrap-balance">
          {{ .Name }}
        </a>
        {{ if .Game }}
        <p class="text-lime-100/90 xs:pr-4">Playing {{ .Game }}</p>
          {{ if .LobbyID }}
          <p class="mt-2 flex items-center flex-wrap gap-2 justify-center xs:justify-normal">
            <a href="steam://joinlobby/{{ .GameID }}/{{ .LobbyID }}/{{ .SteamID }}"
              class="text-lime-300/90 max-w-fit whitespace-nowrap px-2 py-1 border rounded-md border-lime-100/10 hover:border-lime-100/20 bg-lime-900/10 hover:bg-lime-600/10 active:scale-95 transition-all">
              <span>Join<span class="max-[355px]:sr-only"> Game</span> →</span>
            </a>
            <button onclick="copyJoinLink({{ .Link }})"
              class="text-blue-300/90 max-w-fit whitespace-nowrap px-2 py-1 flex items-center gap-1 border rounded-md border-blue-100/10 hover:border-blue-100/20 bg-blue-950/10 hover:bg-blue-700/10 active:scale-95 transition-all">
              <span id="copy-link">Copy Link</span>
              <svg class="w-4 fill-current pb-px" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><path d="M280 64h40c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128C0 92.7 28.7 64 64 64h40 9.6C121 27.5 153.3 0 192 0s71 27.5 78.4 64H280zM64 112c-8.8 0-16 7.2-16 16V448c0 8.8 7.2 16 16 16H320c8.8 0 16-7.2 16-16V128c0-8.8-7.2-16-16-16H304v24c0 13.3-10.7 24-24 24H192 104c-13.3 0-24-10.7-24-24V112H64zm128-8a24 24 0 1 0 0-48 24 24 0 1 0 0 48z"/></svg><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            </button>
          </p>
          {{ else }}
          <p class="text-rose-300/90">No Open Lobby</p>
          {{ end }}
        {{ else if eq .Visibility 1 }}
        <p class="text-rose-300/90">Private Profile</p>
        {{ else }}
          {{ if eq .Status 0 }}
          <p class="text-gray-300/90">Offline</p>
          {{ else }}
          <p class="text-gray-300/90">Not currently in-game</p>
          {{ end }}
        {{ end }}
      </div>
    </div>
      {{ if not .Game }}{{ if eq .Status 0 | not }}
      <p class="text-amber-300/90 mx-auto mt-6 mb-5 w-fit text-center">
        <svg class="w-4 mb-1 fill-current inline-block mr-0" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24V264c0 13.3-10.7 24-24 24s-24-10.7-24-24V152c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"/></svg><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
        Seem off? Make sure "Game details" are set to "Public" in Steam Privacy Settings
      </p>
      <img src="/img/privacy-settings.png" class="w-full max-w-3xl mx-auto rounded-2xl">
      {{ end }}{{ end }}
    <p class="text-lg text-slate-100 text-center w-fit mx-auto mt-8">Find another account:</p>

    {{ else }}
    <h1 class="text-2xl xs:text-4xl md:text-5xl max-w-3xl mx-auto mt-2 text-center xs:wrap-balance">
      Shortened + Permanent<br><span class="text-lime-300">Join Game</span> Lobby Links
    </h1>
    <p class="text-xl text-slate-100 text-center w-fit mx-auto mt-8">Find yours:</p>
    {{ end }}

    <form id="form" class="flex w-fit mx-auto mt-2">
      <input id="profile-input" type="text" placeholder="Steam ID or Profile URL" {{ if not .Profile }}autofocus{{ end }} 
        class="text-xl pl-3 xs:w-96 max-w-full text-center rounded-lg border-slate-300/20 hover:border-slate-400/60 focus:border-blue-600 bg-slate-900/30 transition-colors" />
    </form>
    {{ if .Profile | not }}{{ with .Steam }}
      <p class="text-rose-300/90 mx-auto mt-4 w-fit text-center">
        <svg class="w-4 mb-1 fill-current inline-block mr-0" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24V264c0 13.3-10.7 24-24 24s-24-10.7-24-24V152c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"/></svg><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
        No user "{{ . }}" found
      </p>
    {{ end }}{{ end }}
  </main>
  <footer class="mt-auto px-7 py-2 flex justify-center gap-2 w-full decoration-2">
    <a class="hover:underline" href="https://github.com/blair-c/steamjoin" target="_blank" rel="noopener noreferrer">
      Source Code
    </a>
    <span class="pointer-events-none select-none" aria-hidden="true">•</span>
    <a class="hover:underline" href="https://discord.com/oauth2/authorize?client_id=1223433851200602214" target="_blank" rel="noopener noreferrer">
      Discord Bot
    </a>
  </footer>
</body>

</html>